*.pyc
*.pyo
*~
.Trash
.cache
.chef
.cups
.dropbox
.kitchen
.local
.ssh
.vagrant.d
.zsh_history
Desktop
Documents
Downloads
Dropbox
Icons
Kindle
Library
Movies
Music
Opscode
Pictures
Presentations*
Projects
Public
Reading
Sites
VirtualBox*
arch
build
go
iPad
metadata.json
mp3
scratch.md
setuptools*
sounds
src
ws
